.artists-page {
  text-align: center;
  padding-top: 100px;
}

.artists-page .fa {
  color: #ffffff;
  font-size: 72px;
  padding-bottom: 15px;
}
.welcome {
  color: white;
  font-size: 48px;
  font-weight: 700;
}

.artists-page p {
  color: rgb(172, 168, 168);
  padding-bottom: 20px;
}
.artists-page .searchButton {
  color: black;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;

  border-radius: 100px;
  font-family: sans-serif;
  font-size: 16px;
}
.artists-page .searchButton:hover {
  font-size: 120%;
}
