.change{
 
  text-align: center;
  display: flex;
  justify-content: center;
 
  
  
}
h6{
  color:purple;
}
.btn3 {
  width: 40px;
  height: 40px;
  padding-top: 14px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  border-radius: 500px;
  font-family: circular-spotify-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: white;

  text-transform: uppercase;
  white-space: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 30px;
  color: grey;
  border: 2px solid grey;

  
}
.btn3:hover {
  background-color: grey;
  color: white;
}
.pickFileButton{
  width: 350px;
  height: 50px;
  padding-top: 14px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  border-radius: 500px;
  font-family: circular-spotify-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: white;

  text-transform: uppercase;
  white-space: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 30px;
  color: grey;
  border: 2px solid grey;
}
@media only screen and (max-width : 399px) {
  .pickFileButton, .btn3{
    width: 100%
  }
}